h1{
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 160px;
    left: 0px;
    color: white;
}
img{
    width: 100%;
    height: 500px;
}
.p1{
    text-align: center;
    font-size: 20px;
}
.footerp{
    text-align: center;
}
.headerp{
    text-align: center;
}