.box1{
    text-align: center;
    position: relative;
}
.box2{
    position: relative;
}
.box3{
    text-align: center;   
}
.intel1{
    width: 100%;
    height: 450px;
}
.intel2{
    height: 450px;
}
.intel3{
    height: 450px;
    width: 700px;
}
.intel4{
    height: 450px;
    width: 700px;
}
.intel5{
    height: 450px;
    width: 700px;
}
.Intel{
    color: white;
    position: absolute;
    top: 25px;
    left: 675px;
    font-size: 75px;
}
.amd1{
    height: 450px;
    width: 700px;
}
.amd2{
    height: 450px;
    width: 700px;
}
.amd3{
    height: 450px;
    width: 700px;
}
.amd{
    height: 450px;
    width: 100%;

}
.amd5{
    color: black; 
    position: absolute;
    bottom: -2500x;
    left: 675px;
    font-size: 75px;
}
.p1{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}
.p2{
    font-size: 25px;
    position: relative;
    bottom: 350px;
    left:750px;
}
.amdp1{
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}
.price{
    position: relative;
    left: 750px;
    bottom: 400px;
}
.footerp{
    text-align: center;
}
.headerp{
    text-align: center;
}